/*	================================================================================
 *	GRID
 *	================================================================================ */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #000 url("./img/bg2.jpg") no-repeat center;
	background-size: cover;
	background-position: top;
	margin: 0 auto;
	color: #afafaf;
	font-family: 'Titillium Web', sans-serif;
}

.container {
	margin:0 auto;
	max-width:1000px;
	width:100%;
}

.row {
	display: flex;
}

.column {
	flex: 1;
	margin: 0 auto;
}

.half {
	padding: 0 40px;
}

.right {
	float: right;
}

/*	================================================================================
 *	NAGŁÓWEK
 *	================================================================================ */

 .logo {
	 margin-top: 55px;
	 text-align: center;
	 opacity: 0.25;
 }

/*	================================================================================
 *	BOXY
 *	================================================================================ */

h1 {
	text-align: center;
	margin: 20px;
	text-shadow: 1px 2px 2px rgba(43,1,0,.75);
	font-weight: 400;
	color: #fff;
}
 
.form_border {
	background: rgba(0, 0, 0, 0.23);
	border-radius: 4px;
	padding: 20px;
}

form {
	background: #f3f3f3;	
	border-radius: 3px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 10px 14px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 10px 14px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 10px 14px rgba(0,0,0,0.05);
}

.input-field {
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 1px #ffffff;
   	-moz-box-shadow: 0px 1px 1px #ffffff;
   	box-shadow: 0px 1px 1px #ffffff;
}

.line:after {
	 content: "";
	 display: block;
	 width: 1px;
	 background-color: #e4e4e4;
	 height: 30px;
	 float: left;
	 margin-top: 5px;
}

.input-icon {
	float: left;
	height: 40px;
	width: 59px;
	opacity: 0.1;
}

.checkbox-field {
	position: relative;
}

.checkbox-text {
	position: absolute;
	top: 4px;
	left: 40px;
}

.user {
	background: url("./img/user.png") no-repeat center center;
}
.lock {
	background: url("./img/lock.png") no-repeat center center;
}
.email {
	background: url("./img/email.png") no-repeat center center;
}
.maps {
	background: url("./img/maps.png") no-repeat center center;
}
.phone {
	background: url("./img/phone.png") no-repeat center center;
}

/*	================================================================================
 *	ELEMENTY FORMULARZY
 *	================================================================================ */

input[type=text], select {
	height: 40px;
	width: 255px;
	border: 0px;
	border-radius: 4px;
	background: #f3f3f3;
	padding-left: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color: #afafaf;
}

select {
    width: 275px;
    padding-left: 15px;
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	background: url('./img/arrow.png') no-repeat right;
	background-position:250px 15px;
}

input[type=checkbox] {
	display: none;
}
 
input[type=checkbox] + label {
	background: url("./img/check.png") no-repeat center center;
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 0 0 0 0px;
	cursor: pointer;
}

input[type=checkbox] + label:hover {
	background: url("./img/checked.png") no-repeat center center;
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 0 0 0 0px;
}

input[type=checkbox]:checked + label {
	background: url("./img/checked.png") no-repeat center center;
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 0 0 0 0px;
}

input[type=button] {
	height: 40px;
	background: #a3d841;
	background-image: -webkit-linear-gradient(top, #a3d841, #7cc31f);
	background-image: -moz-linear-gradient(top, #a3d841, #7cc31f);
	background-image: -ms-linear-gradient(top, #a3d841, #7cc31f);
	background-image: -o-linear-gradient(top, #a3d841, #7cc31f);
	background-image: linear-gradient(to bottom, #a3d841, #7cc31f);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 1px #ffffff;
	-moz-box-shadow: 0px 1px 1px #ffffff;
	box-shadow: 0px 1px 1px #ffffff;
	font-size: 24px;
	border: solid #3b9a00 1px;
	text-decoration: none;
	cursor: pointer;
	padding: 0 !important;
}

.full {
	width: 100%;
}

.half {
	width: 150px;
}

.small {
	font-size: 18px !important;
}

.inactive {
	border: solid #96cd75 1px !important;
	background: #c7e1a7 !important;
	background-image: -webkit-linear-gradient(top, #c7e1a7, #abd082) !important;
	background-image: -moz-linear-gradient(top, #c7e1a7, #abd082) !important;
	background-image: -ms-linear-gradient(top, #c7e1a7, #abd082) !important;
	background-image: -o-linear-gradient(top, #c7e1a7, #abd082) !important;
	background-image: linear-gradient(to bottom, #c7e1a7, #abd082) !important;
	cursor: not-allowed !important;
}

.red {
	border: solid #a21f2a 1px !important;
	background: #f65f70 !important;
	background-image: -webkit-linear-gradient(top, #f65f70, #f03747) !important;
	background-image: -moz-linear-gradient(top, #f65f70, #f03747) !important;
	background-image: -ms-linear-gradient(top, #f65f70, #f03747) !important;
	background-image: -o-linear-gradient(top, #f65f70, #f03747) !important;
	background-image: linear-gradient(to bottom, #f65f70, #f03747) !important;
}

.red:hover {
	border: solid #a21f2a 1px !important;
	background: #f65f70 !important;
	background-image: -webkit-linear-gradient(top, #f03747, #f65f70) !important;
	background-image: -moz-linear-gradient(top, #f03747, #f65f70) !important;
	background-image: -ms-linear-gradient(top, #f03747, #f65f70) !important;
	background-image: -o-linear-gradient(top, #f03747, #f65f70) !important;
	background-image: linear-gradient(to bottom, #f03747, #f65f70) !important;
}

input[type=button]:hover {
  background: #7cc31f;
  background-image: -webkit-linear-gradient(top, #7cc31f, #a3d841);
  background-image: -moz-linear-gradient(top, #7cc31f, #a3d841);
  background-image: -ms-linear-gradient(top, #7cc31f, #a3d841);
  background-image: -o-linear-gradient(top, #7cc31f, #a3d841);
  background-image: linear-gradient(to bottom, #7cc31f, #a3d841);
  text-decoration: none;
}

textarea {
	height: 230px;
	width: 299px;
	border: 0px;
	background: none;
	color: #afafaf;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	padding: 20px;
	resize: none;
}